.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(169, 169, 169, 0.2));
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
